<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <title>corporate</title>
</head>

<body style="padding: 0px; background:grey;margin: 0px;font-family: 'Montserrat', sans-serif;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table style="background:white;" width="800" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center">
              <table width="600" border="0" cellspacing="0" cellpadding="0" ">
                <tr>
                  <td align="center" style="background:white;padding-top:40px;">
                    <table width="500" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center">
                          <IMG SRC="/static/images/gktcs_new_logo.png" alt="logo" width="200">
                          <h3 style="font-weight: 700; font-size: 22px; color: #de3d3d; font-family: 'Montserrat', sans-serif;margin-bottom:0;">YOUR PROFESSIONAL SOLUTION</h3>
                          <h1 style="font-weight: 600; font-size: 42px; color:black; font-family: 'Montserrat', sans-serif;margin-top:6px;margin-bottom:22px;">Revolution in Learning and Development</h1>
                          <a href="https://www.gktcs.com/" style="padding-left: 16px; padding-bottom: 9px; padding-right: 16px; padding-top: 9px; display: inline-block; vertical-align: middle; text-align: center; font-weight: 600; font-size: 14px; font-family: 'Montserrat', sans-serif; color: #fff; text-decoration: none; text-transform: uppercase; background: #de3d3d;margin-bottom:42px;">subscribe now</a>
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </td>
          </tr>
          <tr>
            <td align="center" bgcolor="#3EBBF5">
              <table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" style="color:#fff;font-family: 'Montserrat', sans-serif;">
                    <h2 style="color: #fff; font-weight: 600; font-size: 24px;margin-bottom:0;margin-top:28px;font-family: 'Montserrat', sans-serif;">Total 19 + years of Experience in Corporate Training and Consultancy</h2>
                    <p data-edit="text" style="color: #fff; font-weight: 600; width:500px;line-height: 20px; font-size: 14px;margin-top:6px;margin-bottom:24px;font-family: 'Montserrat', sans-serif;">Director, International Corporate Trainer and Consultant at GKTCS Innovations Pune.
                        Provided High End Technical skills to Software Developers, QA, Testing Professionals, Network Engineer, Database Administrator, Team Leader and Project Manager.
                        600 + Corporate Training
                        Taught 10000 + Academic & Industrial Trainees.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="background:#db403b;">
              <table width="800" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="301">
                    <img src="/static/images/img1.png" alt="img1" style="display: block;">
                  </td>
                  <td width="999" style="padding: 0 70px 0 30px;color:white;font-family: 'Montserrat', sans-serif;" bgcolor="white">
                    <h5 style="color:#3EBBF5; font-weight: 700; font-size: 16px;margin:5px 0 8px 0;font-family: 'Montserrat', sans-serif;">HIRING THE BEST TALENTS</h5>
                    <p data-edit="text" style="color:#3EBBF5; font-weight: 600; line-height: 20px; font-size: 14px;margin-top:12px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;">“Hiring the right people takes time, the right questions and a healthy dose of curiosity. What do you think is the most important factor when building your team? For us, it’s personality.” </p>
                    <!-- <p data-edit="text" style="color: #fff; font-weight: 400; line-height: 20px; font-size: 10px;margin-top:6px;margin-bottom:18px;font-family: 'Montserrat', sans-serif;">Diam nonummy nibh euismod tincidunt ut aoreet dolore magna aliquam erat volutpat.</p> -->
                    <!-- <a href="#" style="text-transform: uppercase; padding:7px 6px 6px 6px; text-decoration: none; border:1px solid #fff; display: inline-block; vertical-align: middle; text-align: center; color: #fff; font-weight: 600; font-size: 10px;margin-bottom:12px;font-family: 'Montserrat', sans-serif;box-sizing:border-box;float:left;">read more</a> -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <table width="800" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top" align="center" width="200">
                    <img src="/static/images/img2.png" alt="img1" style="display: block;width:100%;height:137px;">
                  </td>
                  <td valign="top" align="center" width="200">
                    <img src="/static/images/img3.png" alt="img1" style="display: block;width:100%;height:137px;">
                  </td>
                  <td valign="top" align="center" width="200">
                    <img src="/static/images/img4.png" style="display: block;width:100%;height:137px;">
                  </td>
                </tr>
                <tr>
                  <td align="center" width="120" bgcolor="#3EBBF5" style="font-family: 'Montserrat', sans-serif;padding: 0 35px;">
                    <h4 data-edit="text" style="text-transform: uppercase; font-weight: 600; font-size: 16px; color: #fff;margin-top:25px;margin-bottom:13px;font-family: 'Montserrat', sans-serif;">awesome staff</h4>
                    <p data-edit="text" style="color: #fff; font-weight: 600; line-height: 20px; font-size: 14px;margin-top:6px;margin-bottom:24px;font-family: 'Montserrat', sans-serif;">"The strength of the team is each individual member. The strength of each member is the team."</p>
                  </td>
                  <td align="center" width="120" bgcolor="#3EBBF5" style="font-family: 'Montserrat', sans-serif;padding: 0 35px;">
                    <h4 data-edit="text" style="text-transform: uppercase; font-weight: 600; font-size: 16px; color:white;margin-top:25px;margin-bottom:13px;font-family: 'Montserrat', sans-serif;">great branding</h4>
                    <p data-edit="text" style="color:white; font-weight: 600; line-height: 20px; font-size: 14px;margin-top:6px;margin-bottom:24px;font-family: 'Montserrat', sans-serif;">“Focus on building the best possible business. If you are great, people will notice and opportunities will appear.”</p>
                  </td>
                  <td align="center" width="120" bgcolor="#3EBBF5" style="font-family: 'Montserrat', sans-serif;padding: 0 35px;">
                    <h4 data-edit="text" style="text-transform: uppercase; font-weight: 600; font-size: 16px; color: #fff;margin-top:25px;margin-bottom:13px;font-family: 'Montserrat', sans-serif;">quick solutions</h4>
                    <p data-edit="text" style="color: #fff; font-weight: 600; line-height: 20px; font-size: 14px;margin-top:6px;margin-bottom:24px;font-family: 'Montserrat', sans-serif;">“Whatever the problem, be part of the solution. Don’t just sit around raising questions and pointing out obstacles.”</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td bgcolor="white">
              <table width="800" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="310" style="color: #fff;font-family: 'Montserrat', sans-serif;padding-right:40px;padding-left:50px;" valign="top">
                    <h2 style="color:#3EBBF5; text-transform: uppercase; font-weight: 600; line-height: 33px; font-size: 28px;margin-top:20px;margin-bottom:9px;font-family: 'Montserrat', sans-serif;">build your future with the best firm</h2>
                    <p data-edit="text" style="color:#3EBBF5; font-weight: 600;width:310px; line-height: 20px; font-size: 16px;margin-top:6px;margin-bottom:15px;font-family: 'Montserrat', sans-serif;">Be true to yourself, help others, make each day your masterpiece, make friendship a fine art, drink deeply from good books - especially the Bible, build a shelter against a rainy day, give thanks for your blessings and pray for guidance every day.</p>
                    <!-- <p data-edit="text" style="color: #fff; font-weight: 400; line-height: 20px; font-size: 10px;margin-top:6px;margin-bottom:15px;font-family: 'Montserrat', sans-serif;">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> -->
                    <span>
                      <a href="https:www.facebook.com" style="text-decoration: none;margin-right: 10px;">
                        <img src="/static/images/facebook1.png" alt="facebook" style="height: 50px">
                      </a>
                      <!-- <a href="https:www.tumblr.com" style="text-decoration: none;margin-right: 10px;">
                        <img src="/static/images/tumblr.png" alt="tumblr">
                      </a>
                      <a href="https:www.pinterest.com" style="text-decoration: none;margin-right: 10px;">
                        <img src="/static/images/pinterest.png" alt="pinterest">
                      </a> -->
                      <a href="https:www.twitter.com" style="text-decoration: none;margin-right: 10px;">
                        <img src="/static/images/twitter1.png" alt="twitter" style="height: 50px">
                      </a>
                    </span>
                    <p data-edit="text" style="color:#3EBBF5; font-weight: 600; line-height: 20px; font-size: 16px;margin-top:12px;margin-bottom:19px;">GKTCS Innovations 2nd floor, Sumansudha, Besides OM Hospital,Aamchi colony, NDA Pashan Road, Bavdhan, Pune 411021, Maharashtra, India.</p>
                  </td>
                  <td width="200">
                    <img src="/static/images/img5.png" alt="footer" style="display: block;width:100%;">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

</body>

</html>